.dropbtn {
    background-color: rgb(66,109,73);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(66,109,73);
    min-width: 250px;
    // box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    z-index: 1;
  }
  
  .dropdown-content a {   
    padding: 10px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:  rgb(66,109,73)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color:  rgb(66,109,73);
  }